<div class="group-box ui-corner-all ui-widget-content">
    <h3>{{ 'Room #'+ data['one']['conferenceOneName'] }}</h3>
    <label for="conferenceOnePin" class="linehead">{{_("Conference PIN")}}:</label>
    <input 
        class="ui-widget-content ui-corner-all conference_pin" 
        id="conferenceOnePin" 
        value="{{data['one']['conferenceOnePin']}}" />
        <br/>
    <label for="conferenceOneDid" class="linehead">{{_("Conference DID")}}:</label>
    <input 
        class="ui-widget-content ui-corner-all conference_pin" 
        id="conferenceOneDid" 
        value="{{data['one']['conferenceOneDid']}}" />
</div>


<div class="group-box ui-corner-all ui-widget-content">
    <h3>{{ 'Room #'+ data['two']['conferenceTwoName'] }}</h3>
    <label for="conferenceTwoPin" class="linehead">{{_("Conference PIN")}}:</label>
    <input 
        class="ui-widget-content ui-corner-all conference_pin" 
        id="conferenceTwoPin" 
        value="{{data['two']['conferenceTwoPin']}}" />
        <br/>
    <label for="conferenceTwoDid" class="linehead">{{_("Conference DID")}}:</label>
    <input 
        class="ui-widget-content ui-corner-all conference_pin" 
        id="conferenceTwoDid" 
        value="{{data['two']['conferenceTwoDid']}}" />
</div>
<div class="group-box ui-corner-all ui-widget-content">
    <p>{{_("To invite someone into a conference, dial ")}}<code>{{ data['admin']['addMember']}}</code>{{ _(" while at a conference, and then the phone number you wish to invite")}}</p>
    <p>{{_("To kick out an invited party from a conference, dial ")}}<code>{{ data['admin']['cancelMember'] }}</code>{{_(" while at a conference")}}</p>
</div>
<button id="save_conference">{{_("Save Conference Settings")}}</button>

<script>
    $("button").button();
</script>