{% if data['online_users']%}
    <h3>{{_("Online Users")}}</h3>
    {% for user in data['online_users'] %}
        <div class="user-entity-online ui-corner-all" rel="{{user[0]}}">
            <span class="xtn-no">{{user[0]}}</span>
            <div class="more-info">
                <h4><a href="#">{{_("More info...")}}</a></h4>
                <table>
                    <tbody>
                        <tr><th>{{_("User")}}</th><td>{{data["online_users_data"][user[0]]["User"]}}</td></tr>
                        <tr><th>{{_("Agent")}}</th><td>{{data["online_users_data"][user[0]]["Agent"]}}</td></tr>
                        <tr><th>{{_("Status")}}</th><td>{{data["online_users_data"][user[0]]["Status"]}}</td></tr>
                        <tr><th>{{_("IP")}}</th><td>{{data["online_users_data"][user[0]]["IP"]}}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% end %}
{% end %}

{% if data['offline_users']%}
    <h3>{{_("Online Users")}}</h3>
    {% for user in data['offline_users'] %}
        <div class="user-entity ui-corner-all">{{ user[0] }}</div>
    {% end %}
{% end %}
<div class="clear" />

<script>
    var _online_users_data = {{data['online_users_data']}}
</script>