{% if data['online_users']%}
    <h3>{{_("Online Users")}}</h3>
    {% for user in data['online_users'] %}
        <div class="user-entity-online ui-corner-all" rel="{{user[0]}}">
            <span class="xtn-no">{{user[0]}}</span>
            <span class="ui-icon ui-icon-plusthick" style="float:left"></span>
            <span class="ui-icon ui-icon-pencil" style="float:left"></span>
            <div class="hideme tip_frame" id="tip_frame_{{user[0]}}" >
                <div class="more_info_caption">{{_("Call-ID")}}:</div>
                <div class="more_info_detail">{{data['online_users_data'][user[0]]['Call-ID']}}</div>
                <div class="more_info_caption">{{_("User")}}:</div>
                <div class="more_info_detail">{{data['online_users_data'][user[0]]['User']}}</div>
                <div class="more_info_caption">{{_("Contact")}}:</div>
                <div class="more_info_detail">{{data['online_users_data'][user[0]]['Contact']}}</div>
                <div class="more_info_caption">{{_("Agent")}}:</div>
                <div class="more_info_detail">{{data['online_users_data'][user[0]]['Agent']}}</div>
                <div class="more_info_caption">{{_("Status")}}:</div>
                <div class="more_info_detail">{{data['online_users_data'][user[0]]['Status']}}</div>
                <div class="more_info_caption">{{_("Host")}}:</div>
                <div class="more_info_detail">{{data['online_users_data'][user[0]]['Host']}}</div>
                <div class="more_info_caption">{{_("IP")}}:</div>
                <div class="more_info_detail">
                    {{data['online_users_data'][user[0]]['IP']}}:{{data['online_users_data'][user[0]]['Port']}}
                </div>
                <div class="more_info_caption">{{_("Auth-User")}}:</div>
                <div class="more_info_detail">{{data['online_users_data'][user[0]]['Auth-User']}}</div>
                <div class="more_info_caption">{{_("Auth-Realm")}}:</div>
                <div class="more_info_detail">{{data['online_users_data'][user[0]]['Auth-Realm']}}</div>
            </div>
        </div>
    {% end %}
    <div class="clear" />
{% end %}

{% if data['offline_users']%}
    <h3>{{_("Offline Users")}}</h3>
    {% for user in data['offline_users'] %}
        <div class="user-entity ui-corner-all">
            <span class="xtn-no">{{user[0]}}</span>
            <span class="ui-icon ui-icon-pencil" style="float:left"></span>        
        </div>
    {% end %}
{% end %}
<div class="clear" />

<script>
    var _online_users_data = {{data['online_users_data']}}
</script>