<div class="group-box ui-corner-all ui-widget-content" id="dialplan-container">
    <h3>{{_("Destination Matching SIP/PRI Bridge")}}</h3>
    <input type="text" class="ui-widget-content ui-corner-all dialplan_exp halfscreen-input" value="{{ data['expression'] }}"/>
    <p/>
    <button id="save_dialplan_exp">{{_("Save")}}</button>
    <div class="group-box ui-corner-all ui-widget-content">
        <h3>{{ _("Test matching numbers") }}</h3>
        <input type="text" class="ui-corner-all" id="regexp-snadbox"/>
        <span id="regexp-sandbox-output"></span>
    </div>
</div>

<div class="group-box ui-corner-all ui-widget-content" id="new-directory">
    <h3>{{_("Range of extensions")}}</h3>
    <label for="new-start">{{_("Re-Initialize Directory")}}
    <input id="new-start" type="text" class="ui-widget-content ui-corner-all" value="{{items['first-xtn']}}" />
    <span>{{items['last-xtn']}}</span>
    <p/>
    <button id="gen-new-range">{{_("Generate New Extensions")}}</button>
    
</div>
