<h3>{{_("Internal Calls Context Settings")}}</h3>
<div>
    <div class="group-box ui-corner-all ui-widget-content" id="new-directory">
        <h3>{{_("Range of extensions")}}</h3>
        <table>
            <tbody>
                <tr><th class="linehead">{{_("Starting Number")}}:</th><td><input id="new-start" type="text" class="ui-widget-content ui-corner-all" value="{{data['first-xtn']}}" /></td></tr>
                <tr><th class="linehead">{{_("Ending Number")}}:</th><td><span id="new-end">{{data['last-xtn']}}</span></td></tr>
            </tbody>    
        </table>
        
        <button id="gen-new-range">{{_("Generate New Extensions")}}</button>
        
    </div>

    <div class="group-box ui-corner-all ui-widget-content" id="dialplan-container">
        <h3>{{_("Destination Number Matching")}}</h3>
        <input type="text" class="ui-widget-content ui-corner-all internalDIDregex halfscreen-input" 
            id="internalDIDregex",
            value="{{ data['internalDIDregex'] }}"/>
        <p/>
        <button id="save_dialplan_exp">{{_("Save")}}</button>
    
        <h3>{{ _("Test matching expression") }}</h3>
        <input type="text" class="ui-corner-all" id="regexp-snadbox" value="{{data['first-xtn']}}"/>

    </div>
</div>


<div id="dialog-confirm-directory-reinit" title={{_("Re-Initialize The Directory?")}} class="hide_on_load">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
    {{_("This action will delete exitsing extensions/users permanently, and recreate a whole new set of 30 entries. Are you sure?")}}</p>
</div>

<script>
    (function(){
        
        $(".hide_on_load").hide();
        $("button").button();
                
        $("#new-start").keyup(function(){
            var new_start = $(this).val();            
            if (!/^\d+$/.test(new_start)){
                alert("Numbers only!");
            }
            else{
                $("#new-end").html((Number(new_start)+29).toString());
            }
        });
        
        
        function confirmDirectoryRecreate(){
            var url = "/directory/recreate";
                
            var y = $(this).position().top - $(document).scrollTop();
            
            var buttons = {}

            buttons["Yes. Please go ahead!"] = 
                function() {
                    
                    var dialog_closer = function(){
                        $(this).dialog("close");
                        window.location.reload();
                    };
                    
                    $.post(url, {"new-start": $("#new-start").val()}, dialog_closer);
                };

            buttons["No. Thanks for warning me!"] = 
                function() {
                    $( this ).dialog("close");
                };
            
            $("#dialog-confirm-directory-reinit").dialog({resizable: false, modal: true, buttons:buttons, width: "600px"});
        }
                
        $("#gen-new-range").click(confirmDirectoryRecreate);
        
    })();
</script>