{% extends "base.html" %}

{% block body %}
<div class="reactor-in-action hide-on-load"></div>
<center>
    <div class="hide-on-load ui-corner-all" id="notification_div">
        <p id="notification_message">
        </p>
    </div>
</center>

<div id="main_tabs">
	<ul>
		<li><a href="#tabs-dashboard">{{_("Dashboard")}}</a></li>
		<li><a href="#tabs-conference">{{_("Confenernce Rooms")}}</a></li>
		<li><a href="#tabs-cli">{{_("Switch CLI")}}</a></li>
		<li><a href="#tabs-diagnostics">{{_("Diagnostics")}}</a></li>
		<li><a href="#tabs-settings">{{_("Settings")}}</a></li>
	</ul>
	<div id="tabs-dashboard">
        <div id="dashboard-users"></div>
    </div>
	<div id="tabs-conference">
        <div id="conferences-profiles"></div>
    </div>
	<div id="tabs-cli">
        <input 
            id="cli-input" type="text" placeholder='{{_("Enter FS CLI command")}}' 
            class="wide-input ui-widget-content ui-corner-all" />
        <div id="cli-output"></div>
    </div>
	<div id="tabs-diagnostics">
        <div class="group-box ui-corner-all ui-widget-content">
            <h3>{{_("Download Syslog")}}</h3>
            <button id="syslog-download">{{_("Download")}}</button>
        </div>
        
        <div class="group-box ui-corner-all ui-widget-content">
            <h3>{{_("Download SWITCH log")}}</h3>
            <button id="fslog-download">{{_("Download")}}</button>
        </div>
        
        <div class="group-box ui-corner-all ui-widget-content">
            <h3>{{_("Capture Network Traffic")}}</h3>
            <button id="tcpdump-start">{{_("Capture")}}</button>
            <p>
                <label for="timeout">{{_("Number of seconds")}}:</label>
                <input type="text" id="timeout" 
                    style="border:0; font-weight:bold; width:30px; background-color:#fff" 
                    disabled="disabled"/>
                {{_("seconds")}}
            </p>

            <div id="slider"></div>
            
            <br/>
            <a id="download-pcap-file" class="hide-on-load" href="/dl/pcap">{{_("Download PCAP file")}}</a>
        </div>
        
    </div>
	<div id="tabs-settings">
        <div class="group-box ui-corner-all ui-widget-content" id="dialplan-container">
        
        </div>
    </div>
</div>

<script type="text/javascript">

$(document).ready(function(){
    
    $(".hide-on-load").hide();
    
    // in case someone decided to use IE6 -- LULZec come over here ;-)
    window.console = window.console || {log: function(){}}
    
    // tabify dashboard
    $("#main_tabs").tabs({ cookie: { expires: 30 } });
    
    
    var IAmBusy = {
        show: function(){ $('.reactor-in-action').show()},
        hide: function(){ $('.reactor-in-action').hide()}
    }    
    
    // bind cli interaction
    $("#cli-input").keypress(
        function(evt){
            var keyCode = evt.keyCode;        
            if (keyCode === 13){
                var user_input = $(this).val();
                var xcommand =  user_input || "sofia status profile internal"
                if (!user_input)
                    $(this).val(xcommand);
                    
                var url = "/cli", 
                    params = {"x": xcommand};
                    
                $("#cli-output").load(url, params);
                $("#cli-output").css("height", "70%");
            }
        }
    );
    
    dashBoard = {
        loopId: 0,
        uiHandler: function(){
            $(".hideme").hide();
            var more_info_button_selector = $(".moreinfo-qtip");
            
            more_info_button_selector
                .each(function(){
                    $(this).qtip({
                         content: {
                            text: $("#tip_frame_" + $(this).attr("rel")),
                            title: {
                               text: $(this).attr("rel") + '{{_(" details")}}',
                               button: 'x' 
                            }
                         },
                         position: {
                            corner: { target: 'bottomLeft', tooltip: 'topMiddle'},
                            adjust: { screen: true }
                         },
                         show: { when: 'click', solo: true },
                         hide: 'unfocus',
                         style: {
                            tip: true, 
                            border: {
                               width: 0,
                               radius: 4
                            },
                            name: 'light', 
                            width: 220 
                         },
                         api: {
                            onShow: function(e){
                                dashBoard.stopLoop();
                                $(".qtip-wrapper .in-place-edit").editable({
                                    onSubmit:inline_editor_save
                                });
                            },
                            onHide: function(e){
                                dashBoard.startLoop()
                            }
                        }
                  });
                });
            IAmBusy.hide();
            
        }, 
        loader:    function(){ IAmBusy.show(); $("#dashboard-users").load("/dashboard", dashBoard.uiHandler); },
        startLoop: function(){ dashBoard.loopId = window.setInterval(dashBoard.loader, 8*1000) },
        stopLoop:  function(){ dashBoard.loopId && window.clearInterval(dashBoard.loopId);},        
        restart:   function(){ dashBoard.loader(); dashBoard.startLoop(); }
    }
        
    

    function inline_editor_save(content){
        // checkbox click 
        if (!content.previous){
            content = {current:1, previous:0}
        }
        
        if (content.current !== content.previous){
            var _this = $(this),
                extension = _this.attr("rel"),
                password = content.current;
            
            IAmBusy.show();
            
            $.post(
                "/admin/set/extension/password", 
                { extension: extension, password: password, "vm-password": password },
                function(){IAmBusy.hide();}
            );
        }        
    }
    
    var conferences = {        
        load: function(url, params, callback){
                IAmBusy.show()
                url = url || "/admin/conferences"
                params = params || {};
                callback = callback || IAmBusy.hide;
                console.log(url, params, callback);
                $("#conferences-profiles").load(url, params, callback);
        },
        
        save: function(evt){
            IAmBusy.show()
            
            var pin = $(this).val(),
                profile = $(this).attr("rel");
                
            conferences.load("/admin/conferences", {pin: pin, profile: profile}, IAmBusy.hide);
        }
    }
    
    var dialplan = {
        load: function(url, params, callback){
                IAmBusy.show()
                url = url || "/dialplan"
                params = params || {};
                callback = callback || IAmBusy.hide;
                console.log(url, params, callback);
                $("#dialplan-container").load(url, params, callback);
        },
        
        save: function(evt){
            IAmBusy.show()            
            var expression = $(this).val();                
            dialplan.load("/dialplan", {expression: expression});
        }

    }
    
    window.showTcpdumpDownloadLink = function(){
        $("#download-pcap-file").show();
    }
    
    // -->
    
    $(".conference_pin").live("keypress", 
        function(evt){
            var keyCode = evt.keyCode;
            if (keyCode === 13){
                conferences.save();
            }
        });

    $(".conference_pin").live("blur", conferences.save);    
    
    $(".dialplan_exp").live("keypress", 
        function(evt){
            var keyCode = evt.keyCode;
            if (keyCode === 13){
                dialplan.save();
            }
        });

    $(".dialplan_exp").live("blur", dialplan.save);

    dashBoard.restart();
    conferences.load();
    dialplan.load();
    $("button").button();
    
    $("#syslog-download").click(function(){ location.href = location.href + "dl/syslog" });
    $("#fslog-download").click(function(){ location.href = location.href + "dl/switchlog" });
    $("#tcpdump-start").click(function(){ var win = window.open('/tcpdump?timeout=' + $('#timeout').val(), 'tcpdump', 'width=800,height=600'); });

    $( "#slider" ).slider({
        value:30, min: 10, max: 600, step: 10,
        slide: function( event, ui ) {
            $( "#timeout" ).val( ui.value);
        }
    });
    $( "#timeout" ).val( $("#slider").slider("value"));


    // <--
});


</script>

{% end %}



