{% extends "base.html" %}

{% block body %}

<div class="reactor-in-action-frame">
    <center>
        <div class="reactor-in-action hide-on-load">{{_("Synchronization in progress...")}}</div>
    </center>
</div>

<center>
    <div class="hide-on-load ui-corner-all" id="notification_div">
        <p id="notification_message">
        </p>
    </div>
</center>

<div id="main_tabs">
	<ul>
		<li><a href="#tabs-monit">{{_("Monitoring")}}</a></li>
		<li><a href="#tabs-dashboard">{{_("Dashboard")}}</a></li>
		<li><a href="#tabs-directory">{{_("Dialplan")}}</a></li>
		<li><a href="#tabs-conference">{{_("Confenernce Rooms")}}</a></li>
		<li><a href="#tabs-cli">{{_("CLI Console")}}</a></li>
		<li><a href="#tabs-net">{{_("Network")}}</a></li>
		<li><a href="#tabs-ll-settings">{{_("E1/PRI Settings")}}</a></li>
		<li><a href="#tabs-diagnostics">{{_("Diagnostics")}}</a></li>
	</ul>
	<div id="tabs-monit">
        <div id="monitoring"></div>
    </div>
	<div id="tabs-dashboard">
        <div id="dashboard-users"></div>
    </div>
	<div id="tabs-conference">
        <div id="conferences-profiles"></div>
    </div>
	<div id="tabs-cli">
        <input 
            id="cli-input" type="text" placeholder='{{_("Enter FS CLI command")}}' 
            class="wide-input ui-widget-content ui-corner-all" />
        <div id="cli-output"></div>
    </div>
	<div id="tabs-diagnostics">
        <div class="group-box ui-corner-all ui-widget-content">
            <h3>{{_("Download Syslog")}}</h3>
            <button id="syslog-download">{{_("Download")}}</button>
        </div>
        
        <div class="group-box ui-corner-all ui-widget-content">
            <h3>{{_("Download SWITCH log")}}</h3>
            <button id="fslog-download">{{_("Download")}}</button>
        </div>
        
        <div class="group-box ui-corner-all ui-widget-content">
            <h3>{{_("Capture Network Traffic")}}</h3>
            <button id="tcpdump-start">{{_("Capture")}}</button>
            <p>
                <label for="timeout">{{_("Duration")}}:</label>
                <input type="text" id="timeout" 
                    style="border:0; font-weight:bold; width:24px; background-color:#fff" 
                    disabled="disabled"/>
                {{_("seconds")}}
            </p>

            <div id="slider"></div>
            
            <br/>
            <a id="download-pcap-file" class="hide-on-load" href="/dl/pcap">{{_("Download PCAP file")}}</a>
        </div>
    </div>
    
	<div id="tabs-directory">
        <div id="directory-container"></div>
    </div>
	
    <div id="tabs-ll-settings">
        <h3>{{_("Edit E1/PRI Interface Parameters")}}</h3>
        <pre style="margin-bottom: -1.2em">
            <div class="raw-conf-frame mono" id="raw-edit-wanpipe" disabled="disabled"></div>
        </pre>
        <div>
            <a class="button" href="/dl/wanpipe">{{ _("Download a backup copy") }}</a>
            <button id="edit-wanpipe1">{{ _("Edit File") }}</button>
            <button id="save-wanpipe1" class="hide-on-load">{{ _("Save Changes") }}</button>
        </div>        
        <h3>{{_("Edit Trunk Settings")}}</h3>
        <pre style="margin-bottom: -1.2em">
            <div class="raw-conf-frame mono" id="raw-edit-freetdm" disabled="disabled"></div>
        </pre>
        <div>
            <a class="button" href="/dl/freetdm">{{ _("Download a backup copy") }}</a>
            <button id="edit-freetdm">{{ _("Edit File") }}</button>
            <button id="save-freetdm" class="hide-on-load">{{ _("Save Changes") }}</button>
        </div>
    </div>
    <div id="tabs-net">
        <div id="network"></div>
    </div>
</div>

<script type="text/javascript">

$(document).ready(function(){
    
    
    
    var SaveInProgress = {
        timer: 0,
        show: function(){ 
        
            if (SaveInProgress.timer !== 0 ){
                window.clearTimeout(SaveInProgress.timer)
            }
            
            $('.reactor-in-action').show();
                        
        },
        
        hide: function(){
            SaveInProgress.timer = setTimeout(SaveInProgress._hide, 2*1000)
        }, 
        
        _hide: function(){
            $('.reactor-in-action').hide("slow");
        }
    }    
    
    // bind cli interaction
    $("#cli-input").keypress(
        function(evt){
            var keyCode = evt.keyCode;        
            if (keyCode === 13){
                var user_input = $(this).val();
                var xcommand =  user_input || "sofia status profile internal"
                if (!user_input)
                    $(this).val(xcommand);
                    
                var url = "/cli", 
                    params = {"x": xcommand};
                    
                $("#cli-output").load(url, params);
                $("#cli-output").css("height", "70%");
            }
        }
    );
    
    dashBoard = {
        loopId: 0,
        uiHandler: function(){
            $(".hideme").hide();
            var more_info_button_selector = $(".moreinfo-qtip");
            
            more_info_button_selector
                .each(function(){
                    $(this).qtip({
                         content: {
                            text: $("#tip_frame_" + $(this).attr("rel")),
                            title: {
                               text: $(this).attr("rel") + '{{_(" details")}}',
                               button: 'x' 
                            }
                         },
                         position: {
                            corner: { target: 'bottomLeft', tooltip: 'topMiddle'},
                            adjust: { screen: true }
                         },
                         show: { when: 'click', solo: true },
                         hide: 'unfocus',
                         style: {
                            tip: true, 
                            border: {
                               width: 0,
                               radius: 4
                            },
                            name: 'light', 
                            width: 220 
                         },
                         api: {
                            onShow: function(e){
                                dashBoard.stopLoop();
                                $(".qtip-wrapper .in-place-edit").editable({
                                    onSubmit:inline_editor_save
                                });
                            },
                            onHide: function(e){
                                dashBoard.startLoop()
                            }
                        }
                  });
                });
            SaveInProgress.hide();
            
        }, 
        loader:    function(){ SaveInProgress.show(); $("#dashboard-users").load("/dashboard", dashBoard.uiHandler); },
        startLoop: function(){ dashBoard.loopId = window.setInterval(dashBoard.loader, 8*1000) },
        stopLoop:  function(){ dashBoard.loopId && window.clearInterval(dashBoard.loopId);},        
        restart:   function(){ dashBoard.loader(); dashBoard.startLoop(); }
    }
        
    

    function inline_editor_save(content){
        // checkbox click 
        if (!content.previous){
            content = {current:1, previous:0}
        }
        
        if (content.current !== content.previous){
            var _this = $(this),
                extension = _this.attr("rel"),
                password = content.current;
            
            SaveInProgress.show();
            
            $.post(
                "/admin/set/extension/password", 
                { extension: extension, password: password, "vm-password": password },
                function(){SaveInProgress.hide();}
            );
        }        
    }
    
    var conferences = {        
        load: function(url, params, callback){
                SaveInProgress.show()
                url = url || "/admin/conferences"
                params = params || {};
                callback = callback || SaveInProgress.hide;
                console.log(url, params, callback);
                $("#conferences-profiles").load(url, params, callback);
        },
        
        save: function(evt){
            SaveInProgress.show()
            
            var params = {
                'a': '1',
                'conferenceOnePin': $('#conferenceOnePin').val(), 
                'conferenceOneDid': $('#conferenceOneDid').val(), 
                'conferenceTwoPin': $('#conferenceTwoPin').val(), 
                'conferenceTwoDid': $('#conferenceTwoDid').val()
            }
            
            conferences.load("/admin/conferences", params , SaveInProgress.hide);
        }
    }
    
    var dialplan = {
        load: function(url, params, callback){
                SaveInProgress.show()
                url = url || "/dialplan"
                params = params || {};
                callback = callback || function(){SaveInProgress.hide; /*$("button").button();*/};
                console.log(url, params, callback);
                $("#directory-container").load(url, params, callback);
        },
        
        save_internal: function(evt){
            SaveInProgress.show();
            dialplan.load("/dialplan", {ctx: 'internal', internalDIDregex: $("#internalDIDregex").val()}, SaveInProgress.hide);
        }
    }
    
    
    $("#regexp-snadbox").live("keyup", 
        function(){
            SaveInProgress.show();
            var exp = $("#internalDIDregex").val(),
                input = $(this).val();
            $.get("/dialplan/test", {exp:exp, input: input}, function(data){
                //$("#regexp-sandbox-output")
                    //.html(data)
                $("#regexp-snadbox")
                    .removeClass("true")
                    .removeClass("false")
                    .addClass(data);
                    
                    SaveInProgress.hide();
            });
        }); 
        
    
    window.showTcpdumpDownloadLink = function(){
        $("#download-pcap-file").show();
    }
    
    
    $("#save_conference").live("click", conferences.save);


    
    var monitor = {
        loopId: 0,
        loader: function (url, params) {
            url = url || "/monit/read";
            console.log("starting monitoring loop with", url)
            var callback = function(){
                    // change the green
                    $("#monitoring table tr td font[color=#00ff00]").attr("color", "#26914D");                
                    // removed all links
                    $("#monitoring table tr td:has(a)").each(function(){
                        _this = $(this);
                        _this.html(_this.find('a').html());
                    });
                    
                    //$("#monitoring table[@width=90%]").attr("width", "100%");                
                        
                };
                
            params = params || {};
            console.log("loading monit items");
            $("#monitoring").load(url, params, callback);         
        },
        startLoop: function(){ monitor.loopId = window.setInterval(monitor.loader, 24*1000) },
        stopLoop:  function(){ monitor.loopId && window.clearInterval(monitor.loopId);},        
        restart:   function(){ monitor.stopLoop(); monitor.loader(); monitor.startLoop(); }
    };
    
    var network = {
        load: function(url, params, callback){
            url= url || "/admin/net";
            params = params || {};
            callback = callback || SaveInProgress.hide;            
            $("#network").load(url, params, callback);
        },
        save: function(){            
            SaveInProgress.show();
            params = {
                eth0_addr: $("#eth0_addr").val(),
                eth1_addr: $("#eth1_addr").val(),
                eth1_gw:   $("#eth1_gw").val()
            }
            network.load(null, params);
        }
    }
    
    $("#edit-wanpipe1").click(function(){ 
        $("#raw-edit-wanpipe").attr("contentEditable", "true").removeAttr("disabled");
        $("#save-wanpipe1").show();
    });
    
    $("#edit-freetdm").click(function(){ 
        $("#raw-edit-freetdm").attr("contentEditable", "true").removeAttr("disabled"); 
        $("#save-freetdm").show();
    });
    
    $("#save-wanpipe1").click(function(){
        SaveInProgress.show();
        $.post("/ul/wanpipe", {data: $("#raw-edit-wanpipe").text()}, SaveInProgress.hide);
    });
    
    $("#save-freetdm").click(function(){ 
        SaveInProgress.show();
        $.post("/ul/freetdm", {data: $("#raw-edit-freetdm").text()}, SaveInProgress.hide);        
    });
    
    $("#syslog-download").click(function(){ location.href = location.href + "dl/syslog" });
    $("#fslog-download").click(function(){ location.href = location.href + "dl/switchlog" });
    $("#tcpdump-start").click(function(){ window.open('/tcpdump?timeout=' + $('#timeout').val(), 'tcpdump', 'width=800,height=600'); });

    function main(){
    
        $(".hide-on-load").hide();
    
        $("#raw-edit-wanpipe").load("/dl/wanpipe");
        $("#raw-edit-freetdm").load("/dl/freetdm");        

        $("#save_dialplan_exp").live("click", dialplan.save_internal);        

        // in case someone decided to use IE6 -- LULZec come over here ;-)
        window.console = window.console || {log: function(){}}
        
        // tabify dashboard
        $("#main_tabs").tabs({ cookie: { expires: 30 } });
    
        monitor.restart();
        dashBoard.restart();
        conferences.load();
        dialplan.load();
        network.load();
        
        $("button, a.button").button();
                
        $( "#slider" ).slider({
            value:30, min: 10, max: 600, step: 10,
            slide: function( event, ui ) {
                $( "#timeout" ).val( ui.value);
            }
        });
        $( "#timeout" ).val( $("#slider").slider("value"));
    }
    
    main();
    
});


</script>

{% end %}



