<div class="group-box ui-corner-all ui-widget-content">
    <h3>{{_("Network Settings")}}</h3>
    <table>
        <tbody>
            <tr>
                <th class="linehead">{{_("LAN Port Address")}}:</th>
                <td>
                    <input 
                        type="text" 
                        class="text ui-widget-content ui-corner-all" 
                        id="eth0_addr" 
                        value="{{data['lan']['eth0']['addr']}}" /></td>
            </tr>
            <tr>
                <th class="linehead">{{_("WAN Port Address")}}:</th>
                <td><input 
                        type="text" 
                        class="text ui-widget-content ui-corner-all" 
                        id="eth1_addr" 
                        value="{{data['lan']['eth1']['addr']}}" /></td>
            </tr>
            <tr>
                <th class="linehead">{{_("WAN Port Gateway")}}:</th>
                <td>    
                    <input 
                        type="text" 
                        class="text ui-widget-content ui-corner-all" 
                        id="eth1_gw" 
                        value="{{data['lan']['eth1']['gw']}}" />
                </td>
            </tr>            
        </tbody>
    </table>
    <p/>
    <button id="save_net">{{_("Save Network Settings")}}</button>
</div>


<div class="group-box ui-corner-all ui-widget-content">

<h3>{{ _("More Info") }}</h3>
<div id="network_accordion"><h3>
<a href="#">{{_("Active Network Interfaces")}}</a></h3><div><pre>{{data['ifaces']}}</pre></div>
<h3><a href="#">{{_("Routing Table")}}</a></h3><div><pre>{{data['routing']}}</pre>
</div>

{% if data['addr'] %}
<h3><a href="#">{{_("Network Settings")}}</a></h3><div><pre>{{data['addr']}}</pre></div>
{% end %}
</div>

</div>

<script>
    $("button").button();
    $("#network_accordion").accordion({autoHeight: false, navigation: true });
</script>